# **Data Science Academy**

**Fundamentos de Linguagem Python Para Análise de Dados e Data Science**

**Capítulo 04 - Variáveis**

Trabalhando com Variáveis

In [2]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1

In [3]:
# Imprimindo o valor da variável
var_teste

1

In [4]:
# Imprimindo o valor da variável
print(var_teste)

1

In [5]:
# Não podemos utilizar uma variável que não foi definida. Leia a mensagem de erro.
my_var

NameError: name 'my_var' is not defined

In [6]:
var_teste = 2

In [7]:
var_teste

2

In [8]:
type(var_teste)

int

In [9]:
var_teste = 9.5

In [10]:
type(var_teste)

float

In [11]:
x = 1

In [12]:
x

1

Declaração Múltipla

In [13]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [14]:
pessoa1

'Bob'

In [15]:
pessoa2

'Maria'

In [16]:
pessoa3

'Ana'

In [17]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [18]:
fruta1

'Melancia'

In [19]:
fruta2

'Melancia'

In [20]:
fruta3

'Melancia'

In [21]:
# Fique atento! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2.
# Letras maiúsculas e minúsculas tem diferença no nome da variável.
Fruta2

NameError: name 'Fruta2' is not defined

In [22]:
x1 = 50

In [23]:
x1

50

In [24]:
# Mensagem de erro, pois a linguagem Python não permite nomes de variáveis que iniciem com números
1x = 50

SyntaxError: invalid decimal literal (<ipython-input-24-976058c9aea3>, line 2)

Variáveis atribuídas a outras variáveis e ordem dos operadores

In [25]:
largura = 2

In [26]:
altura = 4

In [27]:
area = largura * altura

In [28]:
area

8

In [31]:
perimetro = 2 * largura + 2 * altura

In [32]:
perimetro

12

In [33]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2) * altura

In [34]:
perimetro

32

Operações com variáveis

In [35]:
idade1 = 25

In [36]:
idade2 = 35

In [37]:
idade1 + idade2

60

In [38]:
idade2 - idade1

10

In [39]:
idade2 / idade1

1.4

In [40]:
idade2 % idade1

10

Concatenação de variáveis

In [41]:
nome = "Bob"

In [42]:
sobrenome = "Marley"

In [43]:
fullName = nome + " " + sobrenome

In [44]:
fullName

'Bob Marley'