# **Data Science Academy**

## **Fundamentos de Linguagem Python para Análise Dados**

### **Capítulo 04 - Estruturas de Dados (Tuplas)**

**Trabalhando com Tuplas**

In [1]:
# Criando uma Tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, "Python")

In [2]:
# Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [3]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

TypeError: 'tuple' object does not support item deletion

In [5]:
# Tuplas podem ter um único ítem
tupla1 = ("Chocolate")

In [6]:
tupla1

'Chocolate'

In [7]:
tupla1 = ("Geografia", 23, "Elefante", 9.8, "Python")

In [8]:
tupla1

('Geografia', 23, 'Elefante', 9.8, 'Python')

In [9]:
tupla1[0]

'Geografia'

In [10]:
# Verificando o comprimento da Tupla
len(tupla1)

5

In [12]:
# Slincing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefante', 9.8, 'Python')

In [14]:
tupla1.index('Elefante')

2

In [15]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [16]:
# Deletando a tupla
del tupla1

In [17]:
tupla1

NameError: name 'tupla1' is not defined

In [18]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [19]:
t2

('A', 'B', 'C')

In [21]:
# Tuplas não suportam atribuição de item
t2[0] = D

NameError: name 'D' is not defined

In [22]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [23]:
type(t2)

tuple

In [24]:
type(lista_t2)

list

In [26]:
lista_t2

['A', 'B', 'C']

In [27]:
lista_t2.append('D')

In [28]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [29]:
t2

('A', 'B', 'C', 'D')